
.animate {
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}
.fade-in.visible {
  opacity: 0;
}

.slide-up {
  opacity: 1;
  transform: translateY(0);
}
.slide-up.visible {
  opacity: 0;
}

.var-highlight {
  color: #c0ad60;
}
.string-highlight {
  color: rgba(253, 149, 90, 0.8);
}
